body {
    background-color: rgb(147, 147, 194);
    margin: 0;
}

input:hover {
    background-color: rgb(201, 194, 194);
    cursor: pointer;
}

input#main:hover {
    background-color: white;
    cursor: default;
}

div.calc {
    text-align: center;
    margin-top: 5rem;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    height: 40px;
    width: 60px;
    border: 1px solid rgb(214, 214, 214);
}

span.value {
    background-color: rgb(221, 221, 221);
    width: 100%;
}

.btn-c {
    width: 240px;
}

#main {
    width: 200px;
    padding: 1rem 20px;
    border: 0;
    text-align: right;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    font-weight: 500;
    font-size: 1.2rem;
}

div.eq>input {
    width: 200px;
    padding: .3rem 20px;
    border: none;
    font-weight: 400;
    color: rgb(189, 188, 188);
    text-align: right;
}

div.eq>input:hover {
    background-color: white;
    cursor: default;
}